
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #111111;
    color: ivory;
}

.selfie {
    display: inline-flex;
    position: absolute;
    bottom: 14px;
    left: 2px;
    z-index: 2;
    height: 75px;
}

.nav {
    position: relative;
    background-color: black;
    color: ivory;
    height: 100px;
    width: 100%;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
    min-width: 360px;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    font-size: 22px;
    color: ivory;
}

.name {
    position: relative;
    top: 20px;
    display: inline;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 100px;
    font-size: 48px;
}

.subtitle {
    text-align: end;
    height: 200px;
    width: 100%;
    background-image: url(./assets/flytrapbanner.jpg);
    border-bottom: 10px solid black;
}

.subtitle h2 {
    display: inline;
    position:relative;
    top: 80px;
    font-size: 40px;
    text-align: end;
    background-color: black;
    color: ivory;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    padding-right: 90px;
}

.sectionheading {
    flex: 0 0 25%;
    text-align: right;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-right: 5px solid ivory;
    padding-right: 30px;
    
}

/* Row class used to set flex/spacing for headings */
.row {
    display: flex;
    justify-content: space-between;
}

.projectscontainer {
    display: flex;
    flex-wrap: wrap;
}

.aboutme {
    margin: 20px 100px 0 30px;
    flex: 0 0 60%;
}

/* Class houses the images on the page ------------------- */

.images {
    max-height: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

/* Image sizing */
#mod1challenge {
    flex: 0 0 60%;
    position: relative;
    z-index: -1;
    background-image: url(./assets/darlingtoniaphoto.jpg);
    height: 300px;
    width: 720px;
    margin: 20px 130px 10px 82px;
    border: 5px solid green;
}

#project1 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/sundew.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 82px;
    border: 5px solid green;
}

#project2 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/vft.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 0px;
    border: 5px solid green
}

#project3 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/sarraceniaphoto.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 82px;
    border: 5px solid green;
}

#project4 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/pinguicula.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 0px;
    border: 5px solid green;
}
/* ------------------------------------------------------- */

/* Styling of the text inside images */

.button2rel {
    position: relative
}

.button1 {
    position: absolute;
    bottom: -115px;
    right: 55.5%;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    font-size: 30px;
    color: ivory;
}

.button2 {
    position: absolute;
    bottom: 60px;
    left: 86px;
    font-size: 20px;
    color: ivory;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
}

.button3 {
    position: absolute;
    bottom: 60px;
    left: 5px;
    font-size: 20px;
    color: ivory;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
}

.button4 {
    position: absolute;
    bottom: 60px;
    left: 86px;
    font-size: 20px;
    color: ivory;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
}

.button5 {
    position: absolute;
    bottom: 60px;
    left: 5px;
    font-size: 20px;
    color: ivory;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
}

/* ------------------------------------------------------- */

.contactinfo {
    display: flex;
    flex-wrap: wrap;
}

.contactinfo li {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -27px;
}

.contactinfo a {
    color: ivory;
    font-size: 26px;
    margin-right: 43px;
}