
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.nav {
    background-color: black;
    color: ivory;
    height: 100px;
    width: 100%;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
    min-width: 360px;
}

.nav a {
    font-size: 22px;
    color: ivory;
}

.name {
    position: relative;
    top: 20px;
    display: inline;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 100px;
    font-size: 48px;
}

.subtitle {
    text-align: end;
    height: 200px;
    width: 100%;
    background-color: green;
}

.subtitle h2 {
    display: inline;
    position:relative;
    top: 80px;
    font-size: 40px;
    text-align: end;
    background-color: black;
    color: ivory;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    padding-right: 90px;
}

/* .main {
    display: flex;
    flex-wrap: wrap;
} */

/* .sectionheading controls the style for the h3 headings */

.sectionheading {
    flex: 0 0 25%;
    text-align: right;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-right: 5px solid black;
    padding-right: 30px;
    
}


/* Row class used to set flex/spacing for headings */
.row {
    display: flex;
    justify-content: space-between;
}

.projectscontainer {
    display: flex;
    flex-wrap: wrap;
}

/* Class houses the images on the page */
/* .class {
    max-height: 380px;
    max-width: 380px;
    flex-wrap: wrap;
} */

.images {
    max-height: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}
/* Image sizing */
#mod1challenge {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/darlingtoniaphoto.jpg);
    height: 300px;
    width: 720px;
    margin: 20px 130px 10px 82px;
    border: 5px solid green;

}

#project1 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/sundew.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 82px;
    border: 5px solid green;
}

#project2 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/vft.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 0px;
    border: 5px solid green
}

#project3 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/sarraceniaphoto.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 82px;
    border: 5px solid green;
}

#project4 {
    flex: 0 0 60%;
    position: relative;
    background-image: url(./assets/pinguicula.jpg);
    height: 150px;
    width: 355px;
    margin: 0px 10px 10px 0px;
    border: 5px solid green;
}

/* .aboutme { */
    /* width: 200px;
    height: 100px; */ 
    /* border-right: 5px solid black;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
} */

.aboutme {
    /* width: 60%; */
    margin: 20px 100px 0 30px;
    flex: 0 0 60%;
}

/* .work {
    float: left;
    flex-wrap: wrap;
    justify-content: end;
    position: relative;
    width: 200px;
    height: 100px;
    border-right: 5px solid black;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
} */

.imgLinks {
    display: flex;
}

.mod1challenge {
    float: left;
    position: relative;
    margin: 15px 100px 0 30px;
    height: 100px;
    width: 70%;
    max-width: 70%;
}

.contactme, .resume {
    position: relative;
    width: 300px;
    height: 600px;
    border-right: 5px solid black;
    justify-content: end;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#mod1practice {
    float:inline;
    height: 150px;
    width: 30%;
 
}

#contactme {
    display: flex;

}

#resume {
    display: flex;
    flex-wrap: wrap;
}
.nav ul li {
    display: inline;
    margin-right: 20px;
}

