
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.nav {
    background-color: black;
    color: ivory;
    height: 100px;
    width: 100%;
}

.nav ul li a {
    font-size: 20px;
    color: ivory;

}

.heading {
    position: relative;
    top: 30px;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 100px;
    display: inline;
    font-size: 36px;
}

#subtitle {
    font-size: 24px;
    display: inline-block;
    text-align: end;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: green;
}

#subtitle h2 {
    position:relative;
    top: 80px;
    background-color: black;
    color: ivory;
    border-radius: 10px 0px 0px 10px;
    display: inline;
}

.work, .contactme, .resume {
    display: inline-block;
    width: 300px;
    height: 600px;
    border-right: 5px solid black;
    text-align: right;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.work {
    display: inline-block;
    width: 300px;
    height: 600px;
    border-right: 5px solid black;
    text-align: right;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
}
.aboutme {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    border-right: 5px solid black;
    text-align: right;
    font-size: 36px;
    padding-right: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
}

#aboutme {
    width: 1000px;
    position: absolute;
    margin: 15px 100px 0 30px;
    display: inline-block;
}

.mod1challenge {
    border: 5px solid green;
    display: inline-block;
    position: absolute;
    flex-wrap: wrap;
    margin: 15px 100px 0 30px;
    height: 400px;
    width: 1000px;

}

#mod1practice {
    border: 5px solid green;
    display: inline-block;
    height: 150px;
    width: 500px;
    flex-wrap: wrap;
}

.imgFormat{
    position: absolute;
    margin: auto;
    display: inline-block;
    flex-wrap: wrap;
}


#contactme {
    display: inline-block;
    flex-wrap: wrap;
}

#resume {
    display: inline-block;
    flex-wrap: wrap;
}
.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul {
    text-align: right;
}

h3 {
    font-size: 40px;
    border-right: solid black;
}
